@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
  
  <h1>
        Hello!  This form will return the Time Magazine Person of the Year
    </h1>
    <h2>Please enter the years you wish to view between 1927 and 2016</h2> 
    <div>
        <form method="post">
            <label name="beginningYear">Beginning Year</label>
            <input maxlength="4" placeholder="Start Year" name="beginningYear" /> - <label name="endYear">End Year</label><input placeholder="End Year" maxlength="4" name="endYear" />
            <button type="submit">Submit</button>

        </form>
    </div>
